<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="utf-8">
  <title>My Playlist</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/myplay.css}" href="../static/css/myplay.css">
</head>
<body onclick="
console.log('work')
for(let i = 0; i < 6; i++) {
	    if(document.getElementById('audio' + i) == null) continue;
  document.getElementById('audio' + i).pause()
  document.getElementById('audio' + i).currentTime = 0
  document.getElementById('button' + i).children[0].src = 'images/play.png'
}
">
<nav th:insert="sample :: header">

      </nav>
      <h1>My Playlist</h1>
<div class="musics">
  <h1 th:if="${isEmpty == true}">У вас нету песен</h1>
  <th:block th:if="${isEmpty == false}" th:each="melodia: ${melodias}">
    <div class="music">
      <img th:src="'images/' + ${melodia.preview} + '.jpg'" class="preview" alt=":(">
      <div class="control">
        <div class="brightness"></div>
        <button th:id="'button' + ${melodia.id}"
                th:onclick="'javascript:playMusic(' + ${melodia.id} + ')'">
          <img src="images/play.png" alt=":("></button>
      </div>
      <audio th:id="'audio' + ${melodia.id}" style="display: none;">
        <source th:src="'music/' + ${melodia.audio} + '.mp3'">
      </audio>
    </div>
  </th:block>

</div>
      <footer th:insert="sample :: footer" class="footer">
    <div class="footer_logo">One Click</div>
  </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
<script>
		function playMusic(id) {
			if(!document.getElementById('audio' + id).paused &&
					document.getElementById('audio' + id).duration > 0) {
						setTimeout(function() {
						document.getElementById('audio' + id).pause()
						document.getElementById('button' + id).children[0].src = 'images/play.png';
						}, 200)
					}
					else {
						setTimeout(function() {
						document.getElementById('audio' + id).play()
						document.getElementById('button' + id).children[0].src = 'images/pause.png';
						}, 200)
					}
		}

</script>
</body>
</html>